<%= form_with(model: tipogasto) do |form| %>
  <% if tipogasto.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tipogasto.errors.count, "error") %> prohibited this tipogasto from being saved:</h2>

      <ul>
        <% tipogasto.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :tipo, style: "display: block" %>
    <%= form.text_field :tipo %>
  </div>
  <div>
    <%= form.label :transacao, style: "display: block" %>
    <%= form.text_field :transacao %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
