<h1>Editing tipogasto</h1>

<%= render "form", tipogasto: @tipogasto %>

<br>

<div>
  <%= link_to "Show this tipogasto", @tipogasto %> |
  <%= link_to "Back to tipogastos", tipogastos_path %>
</div>
