<p style="color: green"><%= notice %></p>

<h1>Tipo Gastos</h1>
<br/>
  <%= link_to "Novo", new_tipogasto_path,  :class => "btn btn-dark"%>
<br/><br/>

<table class="table table-striped" id="tipogastos">
  <thead>
    <tr>
      <th>Tipo</th>
    </tr>
  </thead>
  <tbody>
    <% @tipogastos.each do |tipogasto| %>
      <tr>
        <td><%= tipogasto.tipo %></td>
        <td><%= link_to "Edit", edit_tipogasto_path(tipogasto) %></td>
        <td><%= link_to "Delete", tipogasto, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
