<p style="color: green"><%= notice %></p>

<%= render @tipogasto %>

<div>
  <%= link_to "Edit this tipogasto", edit_tipogasto_path(@tipogasto) %> |
  <%= link_to "Back to tipogastos", tipogastos_path %>

  <%= button_to "Destroy this tipogasto", @tipogasto, method: :delete %>
</div>
