<div id="<%= dom_id gasto %>">
  <p>
    <strong>Data:</strong>
    <%= gasto.data %>
  </p>

  <p>
    <strong>Tipogasto:</strong>
    <%= gasto.tipogasto.tipo %>
  </p>

  <p>
    <strong>Valor:</strong>
    <%= gasto.valor %>
  </p>

  <p>
    <strong>Obs:</strong>
    <%= gasto.obs %>
  </p>

</div>
