<table class="table table-striped" id="gastos">
  <thead>
    <tr>
      <th>Data</th>
      <th>Tipo</th>
      <th>Valor</th>
      <th>Obs</th>
      <th></th>
    </tr>
  </thead>
  <body>
    <% @gastos.each do |gasto| %>
      <%= form_with(model: gasto, ) do |form| %>
        <tr>
          <td>
            <%= form.date_field :data %>
          </td>
          <td>
            <%= form.select :tipogasto_id, Tipogasto.all.map{|t| [t.tipo, t.id]}%>
          </td>
          <td>
            <%= form.text_field :valor, size: 10, align: "right" %>
          </td>
          <td>
            <%= form.text_field :obs, size: 40 %>
          </td>
          <td>
            <%= form.submit %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </body>
</table>
