<%
  def getValor(mes, tipo)
    valor = 0
    @gastos.each do |g|
      if g.data.month == mes and g.tipogasto == tipo
        valor = valor + g.valor
      end
    end
    return valor
  end

  def getTotalMes(mes, t)
    valor = 0
    @gastos.each do |g|
      if g.data.month == mes and g.tipogasto.transacao == t
        valor = valor + g.valor
      end
    end
    return valor
  end

  ano = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez']
%>
<table class="table table-striped" id="gastos">
  <thead>
    <tr>
      <th>Tipo/Mes</th>
      <% ano.each do |mes| %>
        <th class="text-center"><%= mes %></th>
      <% end %>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <% @tiposd.each do |t| %>
      <tr>
        <td><%= t.tipo %></td>
        <% total = 0%>
        <% for mes in 1..12 %>
          <td class="text-end"><%= number_to_currency(getValor(mes,t)) %></td>
          <% total = total + getValor(mes,t) %>
        <% end %>
        <td class="text-end"><%= number_to_currency(total) %></td>
      </tr>
    <% end %>
    <tr>
      <td>Total</td>
      <% for mes in 1..12 %>
        <td class="text-end" ><%= number_to_currency(getTotalMes(mes,"D")) %></td>
      <% end %>
    </tr>
  </tbody>
</table>
<br/>
<table class="table table-striped" id="gastos">
  <thead>
    <tr>
      <th>Tipo/Mes</th>
      <% ano.each do |mes| %>
        <th class="text-center"><%= mes %></th>
      <% end %>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <% @tiposc.each do |t| %>
      <tr>
        <td><%= t.tipo %></td>
        <% total = 0%>
        <% for mes in 1..12 %>
          <td class="text-end"><%= number_to_currency(getValor(mes,t)) %></td>
          <% total = total + getValor(mes,t) %>
        <% end %>
        <td class="text-end"><%= number_to_currency(total) %></td>
      </tr>
    <% end %>
    <tr>
      <td>Total</td>
      <% for mes in 1 ..12 %>
        <td class="text-end"><%= number_to_currency(getTotalMes(mes,"C")) %></td>
      <% end %>
    </tr>
  </tbody>
</table>
