<br/>


<%= form_with url: "/importfile", multipart: true do |form| %>
  <%= form.file_field :extrato, class: "form-control" %>
  <br/>
  <%= form.submit "importar", class: "btn btn-dark" %>
<% end %>
