<p style="color: green"><%= notice %></p>

<h1>Gastos</h1>
<br/>
<%= link_to "New gasto", new_gasto_path, class: "btn btn-dark" %>
<br/>
<br/>
<table class="table table-striped" id="gastos">
  <thead>
    <tr>
      <th>Data</th>
      <th>Valor</th>
      <th>Tipo</th>
    </tr>
  </thead>
  <tbody>
    <% @gastos.each do |gasto| %>
      <tr>
        <td><%= gasto.data %></td>
        <td><%= gasto.valor %></td>
        <td><%= gasto.tipogasto.tipo %></td>
        <td><%= link_to "Edit", edit_gasto_path(gasto) %></td>
        <td><%= link_to "Delete", gasto, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
