<p style="color: green"><%= notice %></p>

<%= render @gasto %>

<div>
  <%= link_to "Edit this gasto", edit_gasto_path(@gasto) %> |
  <%= link_to "Back to gastos", gastos_path %>

  <%= button_to "Destroy this gasto", @gasto, method: :delete %>
</div>
